#sporthead {
    padding-top: 70px;
    text-align: center;
    font-size: 100px;
    background-color: #333333;
    background-size: 0px 100px;
    color: #c9dc0a;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;

}

.dopepics {

	height: 40vh;
	width: 100%;
	background-image: url(/Group-Project/assets/images/backgroundtrans1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: 4;

	animation-name: animate;
	animation-direction: alternate-reverse;
	animation-duration: 30s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-timing-function: ease-in-out;
}

@keyframes animate{
	0%{
		background-image: url(/Group-Project/assets/images/backgroundtrans1.jpg);
	}25%{
		background-image: url(/Group-Project/assets/images/backgroundtrans2.jpg);
	}50%{
		background-image: url(/Group-Project/assets/images/backgroundtrans3.jpg);
	}75%{
		background-image: url(/Group-Project/assets/images/backgroundtrans4.jpg);
	}

}


* Footer
   */

#getstarted{
	padding: 20px 20px 20px;
	background-color: white;
	border: white;
	border-radius: 10px;
	font-style: italic;
	margin-left: 50%;
	
}

footer p{
	color:black;
}
.signupbkgrnd {
	padding: 2.5rem 0;
	color: #999;
	text-align: center;
	background-color:#c9dc0a;
	border-top: .05rem solid #e5e5e5;
}

.hangtags{
	padding: 7%;
	color:#4a4a4a;
	background-color: #333333;

}

.hanghd{
	color:white;
	text-align: center;
	margin-bottom: 20%;
}
.blog-footer p:last-child {
	margin-bottom: 0;
}

#price {
    text-align: center;
    text-decoration: underline;
    font-weight: 900;
}



.col {
    padding: 5px 5px;
    text-align: center;
}

.image {
    height: 225px;
    width: 225px;
    border: 3px solid black;
}


