/* stylelint-disable selector-list-comma-newline-after */


.brand{
	color: white;
}
.cv{
	background-color: black;
}

.abt{
	background-color: #f6f6f6;
	padding: 50px 50px 250px 50px;
	font-size: 20px;
	line-height: 1.6;

}

.head1{
	font-size: 500%;
	margin-top: 5%;
}

.para1{
	margin-top: 10%;
	font-size: 20px;
	line-height: 1.6;
}

#endpara{
	font-size: 20px;
	color: grey;
}


.choice{
	background-color: grey;
	color: white;
	text-align: center;
	padding: 10px 0px 200px 0px;
}

.choice1{
	background-image: url(../images/chuttersnap-4JHMt29fvj8-unsplash.jpg) !important;
	max-width: 100%;
	background-position: center;
	background-size: cover;
	
}

.choice2{
	background-image: url(../images/revolt-164_6wVEHfI-unsplash.jpg) !important;
	max-width: 100%;
	background-position: center;
	background-size: cover;
}

#hdc{
	display: inline-block;
	margin-top: 200px;
	font-size: 3rem;
	font-family:"Playfair Display", Georgia, "Times New Roman", serif;
}
#minitxt{
	margin-top: 100px;
	font-size: 20px;
}

.btnchoice{
	text-align: center;
	margin-left: 35%;
	margin-top: 10%;
	border-radius: 25px;
}

#b1, #b2{
	border-radius: 20px;
	margin: 50px;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	font-style: italic;
	font-weight: 500;
	border: white;

}

#b1{
	background-color: #c9dc0a;
}

#b1:hover{
	background-color: black;
	color:#c9dc0a;
}

#b2:hover{
	background-color: black;
	color: white;
}


.blog-header {
	line-height: 1;
}

.blog-header-logo {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
	font-size: 2.25rem;
	color:white;
}

.blog-header-logo:hover {
	text-decoration: none;
	color:#c9dc0a;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
	font-size: 2.5rem;
}
@media (min-width: 768px) {
	.display-4 {
	font-size: 3rem;
	}
}

.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.nav-scroller .nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: .875rem;
}

.card-img-right {
	height: 100%;
	border-radius: 0 3px 3px 0;
}

.flex-auto {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
	.h-md-250 { height: 250px; }
}

  /* Pagination */
.blog-pagination {
	margin-bottom: 4rem;
}
.blog-pagination > .btn {
	border-radius: 2rem;
}

/*
   * Blog posts
   */
.blog-post {
	margin-bottom: 4rem;
}
.blog-post-title {
	margin-bottom: .25rem;
	font-size: 2.5rem;
}
.blog-post-meta {
	margin-bottom: 1.25rem;
	color: #999;
}

/*
   * Footer
   */

#getstarted{
	padding: 20px 20px 20px;
	background-color: white;
	border: white;
	border-radius: 10px;
	font-style: italic;
	margin-left: 50%;
	
}

footer p{
	color:black;
}
.signupbkgrnd {
	padding: 2.5rem 0;
	color: #999;
	text-align: center;
	background-color:#c9dc0a;
	border-top: .05rem solid #e5e5e5;
}

.hangtags{
	padding: 7%;
	color:#4a4a4a;
	background-color: #333333;

}

.hanghd{
	color:white;
	text-align: center;
	margin-bottom: 20%;
}
.blog-footer p:last-child {
	margin-bottom: 0;
}
